<div  >
  <table class="table table-hover align-middle">
    <thead >
      <tr>
        <th scope="col"><h2>FiveM</h2></th>
        <th scope="col"><h2>TeamSpeak</h2></th>
        <th scope="col"><h2>Discord</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
         <a href="fivem://connect/NODE05.PANEL-FIVEHEBERG.FR:31160"> <button type="button" class="btn btn-warning btn-rounded">FiveM</button></a>
        </td>
        <td>
          <a href="" ><button type="button" class="btn btn-info btn-rounded">TeamSpeak</button></a>
        </td>
        <td>
          <a href="https://discord.gg/7rHv588PeS"><button type="button" class="btn btn-primary btn-rounded">Discord</button></a>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>