/* You can add global styles to this file, and also import other style files */
.bg {
    background-image: url("https://www.zupimages.net/up/22/03/xn1r.png");

    height: 70vh;
    background-size: 100% 100%;
    
  }